.accordion {
    h3 {
        color: #ffffff;
    }

    display:flex;
    flex-direction: column;
    align-items: stretch;

    svg {
        width: 30px;
        fill: #fff;
    }

    &__content {
        background-color: var(--secondary-color);
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease;
        flex-grow: 1;

        p {
            padding: 1rem;
        }
    }

    .open {
        max-height: 100vh;
    }

}