.item {
    height: min(225px);
    min-width: 280px;
    max-width: 600px;
    background: var(--primary-color);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;

    h2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}