.carousel {
    display: flex;
    height: 30vh;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }
}

.next,
.prev {
    position: absolute;
    top: calc(50% - 25px);
    fill: #fff;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
    stroke: #000;
    stroke-width: 10px;
}

.next {
    right: 10px;
    transform: rotate(-90deg);
}

.prev {
    left: 10px;
    transform: rotate(90deg);
}