.rental-carousel {
    img {
        height: 400px;
        object-fit: cover;
        width: 100%;
    }
}

.author__picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    overflow: hidden;
}

.rental-infos {
    @media screen and (min-width: 890px) {
        flex-direction: column-reverse;
        align-items: end;
    }
}

.rental-accordions {
    position: relative;
}